.vscode/
dilithium/avx2/
dilithium/ref/
dilithium/build/
dilithium/main/main
dilithium/main.bak
dilithium/Dilithium*
dilithium/.gitignore
dilithium/.travis.yml
dilithium/AUTHORS.md
dilithium/aux.c
dilithium/Common_META.yml
dilithium/gdbinit
dilithium/LICENSE
dilithium/README.md
dilithium/runlcov.sh
dilithium/runtests.sh
dilithium/sdkconfig
dilithium/SHA256SUMS
dilithium/dilithium-master.zip
dilithium/sdkconfig.old
dilithium/dilithium-master/
dilithium/main/test/
dilithium/main.bak/
dilithium/main.bak2/
dilithium/main/precomp.gp
